
.alpaca-field .help-block {
    position: absolute;
    bottom: -32px;
}
.alpaca-field input:focus + .help-block {
    color: #c9c9c9;
    opacity: 1;
}
.alpaca-field input {
    border-width: 0 0 1px;
    box-shadow: none;
    border-radius: 0;
    transition: all 0.3s linear;
    padding: 0;
}
.alpaca-field input:focus {
    box-shadow: none;
}
/**
.alpaca-field label {
    position: absolute;
    top: 25px;
    color: #999;
    transition: all 0.3s linear;
    width: 100%;
    margin: 0;
    pointer-events: none;
    bottom: 0;
}
.alpaca-field.alpaca-field-focused label,
.alpaca-field.edited label {
    top: 0px;
    color: #0d2434;
}


*/

.alpaca-field label:after {
 content: "";
 position: absolute;
 left: 50%;
 bottom: 0;
 width: 0;
 background-color: transparent;
 transition: all 0.3s linear;
 height: 2px;
 visibility: hidden;
 z-index: 5;
}

.alpaca-field.alpaca-field-focused label:after {
 left: 0;
 width: 100%;
 visibility: visible;
 background-color: #4fc08d;
}

.alpaca-field.form-inline.col-xs-8{
	width: 100%;
}

.alpaca-field.form-inline.col-xs-8 label{
	width: 20%;
	float: left;
	padding-top: 7px;
}

.alpaca-field.form-inline.col-xs-8 input{
	width: 79%;
}

html .btn-show-code {
	position: absolute; top: 11px; right: 20px;font-family: 'Ubuntu', sans-serif;color: #337ab7;font-size: 24px;border-bottom: 1px dashed;text-decoration: none;
}

.alpaca-icon-required.glyphicon-star{
    position: absolute;
    right: 25px;
    top: 10px;
}

html .alpaca-field-object.alpaca-top{
    width: 100%;
}

.circle-loader {
    margin: 0 0 30px 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: #5cb85c;
    animation-name: loader-spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  
  .circle-loader,
  .circle-loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
  }
  
  .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out;
  }
  
  .checkmark {
    display: none;
  }
  .checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  .checkmark:after {
    opacity: 1;
    height: 4em;
    width: 2em;
    transform-origin: left top;
    border-right: 2px solid #5cb85c;
    border-top: 2px solid #5cb85c;
    content: "";
    left: 2em;
    top: 4em;
    position: absolute;
  }
  
  @keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 2em;
      opacity: 1;
    }
    40% {
      height: 4em;
      width: 2em;
      opacity: 1;
    }
    100% {
      height: 4em;
      width: 2em;
      opacity: 1;
    }
  }
  